*,*:after,*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#breakout {
    width: 100%;
    max-width: 500px;
    height: 90vh;
    margin: 0 auto;

    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
}