*,*:after,*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#breakout {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
}