*,*:after,*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    cursor: grab;
}

body {
    background: var(--color-primary);
    font-family: "Press Start 2P", system-ui;
    color: white;
}